@using yizhan.web.Models
@model yizhan.web.ViewModels.ActListVm
@section BreadCrumbs{
    <li>首页</li>
    <li><a href="@Url.Action("ActList")">活动项目</a></li>
    @foreach (var item in Model.ParentList)
    {
        <li><a href="@Url.Action("ActList", new {fid = item.Id})">@item.Name</a></li>
    }
    @if (Model.Act != null)
    {
        <li><a href="@Url.Action("ActList", new {fid = Model.Act.Id})">@Model.Act.Name</a></li>
    }
}
<div class="rightinfo">
    <div class="tools">
        <ul class="toolbar">
            @if (Model.Fid >0)
            {
                <li class="click"><a href="javascript:void(0)" onclick="history.back(-1);return false;"><span></span>&lt;返回</a></li>
            }
            <li class="click"><a href="@Url.Action("ActEdit", new {parentFid = Model.Fid})"><span><img src="~/images/t01.png" /></span>添加</a></li>
        </ul>
    </div>

    <ul id="list" class="imglist">
        @foreach (var item in Model.Acts)
        {
            <li>
                <input class="Id" type="hidden" value="@item.Id"/>
                <span>
                    @if (item.Depth < 3)
                    {
                        <a href="@Url.Action("ActList", new {fid = item.Id, pn = 1})"><img src="@item.PhotoUrl" style="width: 100%; height: 100%" /></a>
                    }
                    else
                    {
                        <a href="@item.PhotoUrl" target="_blank"><img src="@item.PhotoUrl" style="width: 100%; height: 100%" /></a>
                    }
                </span>
                <h2>
                    @if (item.Depth < 3)
                    {
                        <a href="@Url.Action("ActList", new {fid = item.Id, pn = 1})">@item.Name</a>
                    }
                    else
                    {
                        <a href="@item.PhotoUrl" target="_blank">@item.Name</a>
                    }
                </h2>
                <p>
                    <a href="@Url.Action("ActEdit", new {fid = item.Id})">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="del" href="javascript:void(0)" onclick="return false">删除</a>
                </p>
            </li>
        }
    </ul>

    <div class="pagin">
        <div class="message">共<i class="blue">@Model.TotalCount</i>条记录，当前显示第&nbsp;<i class="blue">@Model.Pn&nbsp;</i>页
        </div>
        <ul class="paginList" id="pager">
            
        </ul>
    </div>
    <script type="text/javascript">
        var lockobj = {};
        $('#list .del').click(function() {
            var fid = $(this).parents('li').find('.Id').val();
            function submit() {
                tool.request({
                    url: 'DeletePost',
                    data: { fid:fid  },
                    dataType: 'json',
                    type: "POST",
                    success: function(d) {
                        if (d.Success) {
                            tool.tip('删除成功');
                            window.location.href = document.referrer;
                        } else
                            tool.tip(d.Info);
                    },
                    error: function(e, d) {
                        tool.tip('操作失败');
                    }
                }, lockobj);
            }

            dialog({
                content: "确认要删除吗？",
                okValue: '确 定',
                ok: submit,
                quickClose: true,
                cancelValue: '取消',
                cancel: function() {}
            }).show();
        });
    </script>
    @section HeaderScript{
        <script src="~/js/jqPaginator.min.js"></script>
        <script type="text/javascript">
            $(function() {
                var isinit = true;
                $('#pager').jqPaginator({
                    totalCounts: @Model.TotalCount,
                    pageSize: @Model.PageSize,
                    visiblePages: 10,
                    currentPage: @Model.Pn,
                    activeClass: "current",
                    disableClass:"no",
                    prev: '<li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>',
                    next: '<li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li>',
                    page: '<li class="paginItem"><a href="javascript:;">{{page}}</a></li>',
                    onPageChange: function(num) {
                        if (isinit) {
                            isinit = false;
                            return;
                        }

                        location.href = '@Url.Action("ActList", new {fid = Model.Fid})' + "&pn=" + num;
                    }
                });
            });
        </script>
    }
</div>